.hero a {
    color: #fff;
}
p {
    line-height: 1;
    margin-bottom: 34rem;
}
.font-container {
    font-size: 5.5vw;
    word-wrap: anywhere;
    line-height: 1;
}
.font-controls {
    display: flex;
    margin-bottom: 24rem;
    padding: 8rem 16rem;
    border-radius: 8rem;
    background-color: rgba(28, 28, 28, 0.25);
}
input {
    padding: 4rem;
    margin-right: 8rem;
    border: 1px solid #ccc;
    border-radius: 4rem;
    font-family: sans-serif !important;
}
@media (max-width: 800px) {
    .font-container {
        font-size: 10.5vw;
    }
}

@media (max-width: 500px) {
    .font-container {
        /*font-size: 11.5vw;*/
        /*line-height: 1.2;*/
    }
    .font-controls input {
        width: 100%;
        margin-bottom: 8rem;
    }
    .font-controls {
        padding-top: 16rem;
        display: block;
    }
}


