@import url('../assets/fonts/cowboy/stylesheet.css');
@import url('../assets/fonts/kindaSansSerif/stylesheet.css');

* {
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    font-size: 18px;
    padding: 0;
    margin: 0;
    background: #1c1c1c;
    color: white;
    font-family: 'kinda_sans_serifregular', sans-serif;
}
h1 {
    font-size: 4rem;
}
h2 {
    /*font-size: 2.5rem;*/
    font-family: 'cowboyregular', sans-serif;
}

h1,h2,h3 {
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'cowboyregular', sans-serif;
}
.app-nav {
    text-align: right;
    padding: 10px 20px;
}
a {
    color: lightgreen;
    text-decoration: none;
    font-weight: bold;
}
::backdrop {
    background-image: linear-gradient(
            45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green
    );
    opacity: 0.75;
}

.font-cowboy {
    font-family: 'cowboyregular', sans-serif;
}

.hero-text {
    font-size: 12.5vw;
    line-height: 1;
    /*margin: 30px 0 0;*/
    color: lightgreen;
    margin: 0;
    padding-top: 30px;
    /*padding-left: 85px;*/
    transition: padding-left 0.25s;
    text-align: center;
}

.flex-container {
    /*max-width: 1400px;*/
    /*margin: 0 auto;*/
    gap: 30px;
}

.modal-image {
    height: 75px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-image img {
    width: 200px;
}
.hero {
    position: relative;
    margin-bottom: 10px;
    border: 5px solid transparent;
    line-height: 1;
}
.hero pre {
    font-size: 1vw;
    color: yellow;
    position: relative;
    z-index: 1;
    top: 4px;
    transform: skew(-10deg);
}
.hero pre:nth-child(2) {
    position: absolute;
    color: #007bff;
    left: 3px;
    top: 2px;
}
.hero pre:nth-child(3) {
    position: absolute;
    color: red;
    left: 5px;
    top: 0;
    font-weight: bold;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.main-layout {
    display: flex;
    padding-left: 85px;
    transition: padding-left 0.25s;
}
.main-content {
     display: flex;
     flex-direction: column;
     /*flex: 1 1 1200px;*/
     /*max-width: 1200px;*/
     margin: 0 auto;
     padding: 0 20px;
     height: 100vh;
     /*overflow: auto;*/
 }
aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    flex: 1 0 65px;
    width: 65px;
    overflow: auto;
    transition: flex 0.25s, width 0.25s;
    padding: 0 5px 10px;
    background: #131313;
}
.aside-open .main-layout {
    padding-left: 200px;
}
.cat-fetch__top {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    padding-top: 16px;
    background: #131313;
    border-radius: 0 0 4px 4px;
}
.cat-fetch__icon {
    font-size: 32px;
    line-height: 1;
    cursor: pointer;
    transition: font-size 0.25s;
}
.cat-fetch__title-content {
    position: relative;
    left: -9999px;
    height: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    transition: left 0.5s, height 0.25s;
    color: white;
}
.cat-fetch__title {
    margin: 0;
}
.cat-fetch__images {
    position: relative;
    /*left: -9999px;*/
    padding: 5px 0;
    transition: left 0.5s;
}
.cat-fetch__images img {
    width: 100%;
    border-radius: 5px;
}



.aside-open aside {
    flex: 1 0 200px;
    width: 200px;
}
.aside-open .cat-fetch__icon {
    font-size: 65px;
}
.aside-open .cat-fetch__title {
    left: 0;
}
.aside-open .cat-fetch__title-content {
    left: 0;
    height: auto;
}
.aside-open .cat-fetch__images {
    left: 0;
}




@media (max-width: 800px) {
    body {
        font-size: 16px;
    }
    .aside-open .main-layout {
        padding-left: 85px;
    }

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    border-top: 1px solid #ccc;
}
#clearLocalStorage {
    align-self: center;
}

.cowboy-theme {
    display: none;
}

.banner h1 {
    margin-bottom: 0;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    line-height: 1;
    animation: spin 1s linear infinite;
}
.loader span {
    display: block;
    text-align: center;
}
