@import url('../assets/fonts/cowboy/stylesheet.css');
@import url('../assets/fonts/kindaSansSerif/stylesheet.css');

html {
    font-size: 6.25%;
}

* {
    box-sizing: border-box;
}
body {
    line-height: 32rem;
    font-size: 16rem;
    padding:  0;
    margin: 0;
    background: #1c1c1c;
    color: white;
    font-family: 'kinda_sans_serifregular', sans-serif;
}
p {
    font-size: 24rem;
    line-height: 44rem;
    margin-top: 0;
}

h1 {
    font-size: 40rem;
}
h2 {
    font-size: 34rem;
}
h3 {
    font-size: 26rem;
}
h4 {
    font-size: 24rem;
}
h5 {
    font-size: 24rem;
}
h6 {
    font-size: 24rem;
}



h1,h2,h3, h4, h5, h6 {
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: cowboyregular, sans-serif;
    margin-top: 0;
    margin-bottom: 16rem;
}

dialog {
    width: 50%;
    height: 100vh;
    max-height: unset;
    background: black;
    transform: translateX(50%);
}
::backdrop {
    background: black;
    opacity: 0.75;
}

.sub-heading {
    font-size: 24rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 32rem;
}

.font-cowboy {
    font-family: 'cowboyregular', sans-serif;
}
.font-kinda {
    font-family: 'kinda_sans_serifregular', sans-serif;
}

.layout-drawer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #333;
    color: white;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s;
}
.layout-container {
    display: flex;
    flex-wrap: wrap;
    gap: 36rem;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 16rem;
    width: 100%;
    flex-grow: 1;
}
.layout-side {
    flex: 1 0 200px;
    max-width:200px;
    /*border: 1px solid #ccc;*/
}
.layout-main {
    flex: 1;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 24rem;
}
.layout-header {
    display: flex;
    align-items: center; /* Align items vertically */
    padding: 0 16rem;
}
.layout-header::after {
    flex: 1;
    content: '';
}
.layout-header__icon {
    flex: 1;
    display: flex;
    align-self: flex-start;
}

.layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    padding-top: 32rem;
}
.layout-footer {
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #ccc;
}
.layout-main {
    flex: 1;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.menu-icon {
    position: relative;
    top: -3px;
    background: none;
    border: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    font-size: 34rem;
    padding-left: 0;
}
.hero {
    font-size: 15.5vw;
    margin: 0;
    line-height: 1;
    color: lightgreen;
}
nav {
    margin-top: 16rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    margin-bottom: 8rem;
}
nav a {
    color: white;
    text-decoration: underline;
    display: block;
}

.show-mobile {
    display: none;
}

.show-mobile-flex {
    display: none;
}



@media (max-width: 768px) {
    html {
        font-size: 5.25%;
    }
    .show-mobile {
        display: block;
    }
    .show-mobile-flex {
        display: flex;
    }
    .hide-mobile {
        display: none;
    }
    .layout-container {
        flex-direction: column;
        padding-top: 16rem;
    }
    .layout-side {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .layout-nav {
        display: none;
    }
    .layout-header {
        margin-bottom: 1.5rem;
    }
    .hero {
        font-size: 12.5vw;
    }
    .menu-icon {
        opacity: 1;
    }
    /*h1 {*/
    /*    font-size: 2rem;*/
    /*}*/
    /*h2 {*/
    /*    font-size: 1.5rem;*/
    /*}*/
    /*h3 {*/
    /*    font-size: 1.25rem;*/
    /*}*/
    /*h4 {*/
    /*    font-size: 1rem;*/
    /*}*/

}

