@import url('../assets/fonts/cowboy/stylesheet.css');
@import url('../assets/fonts/kindaSansSerif/stylesheet.css');

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529;
}

html {
    font-size: 6.25%;
}

* {
    box-sizing: border-box;
}
body {
    line-height: 32rem;
    font-size: 16rem;
    padding:  0;
    margin: 0;
    background: #131215;
    color: white;
    font-family: 'kinda_sans_serifregular', sans-serif;
}
p {
    font-size: 24rem;
    line-height: 1.5;
    margin-top: 0;
}

h1 {
    font-size: 40rem;
}
h2 {
    font-size: 34rem;
}
h3 {
    font-size: 26rem;
}
h4 {
    font-size: 24rem;
}
h5 {
    font-size: 24rem;
}
h6 {
    font-size: 24rem;
}



h1,h2,h3, h4, h5, h6 {
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: cowboyregular, sans-serif;
    margin-top: 0;
    margin-bottom: 16rem;
}

nav {
    margin-top: 16rem;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    margin-bottom: 8rem;
}
nav a {
    color: white;
    font-size: 18rem;
    text-decoration: underline;
    display: block;
}

dialog {
    width: 90%;
    height: 100vh;
    max-height: unset;
    background: black;
    transform: translateX(10%);
}
::backdrop {
    background: black;
    opacity: 0.75;
}

.sub-heading {
    font-size: 24rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 32rem;
}

.font-cowboy {
    font-family: 'cowboyregular', sans-serif;
}
.font-kinda {
    font-family: 'kinda_sans_serifregular', sans-serif;
}

.layout-drawer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: red;
    color: white;
    padding: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 1000;
}
#js-cats-trigger:hover {
    border: 1px solid red;
}
.aside-open .layout-drawer {
    transform: translateX(0);
}


.layout-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 36rem;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    padding: 16rem 16rem 0;
}
.layout-side {
    flex: 1 0 200px;
    max-width:200px;
}
.layout-main {
    flex: 1;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 24rem;
}
.layout-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 16rem;
}
.layout-header::after {
    flex: 1;
    content: '';
}
.layout-header__icon {
    flex: 1;
    display: flex;
    align-self: flex-start;
}


.kinda-hide {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    padding-top: 16rem;
}
.layout-footer {
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #ccc;
    padding: 16px 0;
}
.layout-footer p {
    margin: 0;
}
.layout-main {
    flex: 1;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.menu-icon {
    position: relative;
    top: -3px;
    background: none;
    border: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    font-size: 34rem;
    padding-left: 0;
}
.cat-icon-btn {
    position: relative;
    top: -3px;
    background: none;
    border: none;
    transition: opacity 0.3s;
    color: white;
    font-size: 34rem;
    padding-left: 0;
}
.hero {
    font-size: 15vw;
    margin: 0;
    line-height: 1;
    color: lightgreen;
}
.hero a {
    text-decoration: none;
    color: lightgreen;
}

.hero span {
    position: relative;
    display: inline-block;
    transform: rotate(0deg) translate(0%, 0%);
    top: 0;
    transition: transform 0.1s ease-in;
}


.loaded .hero span {
    transform: rotate(25deg) translate(10%, 0);
    top: 100%
}

@keyframes rotateAndFall {
    0% {
        transform: rotate(36deg) translateY(0);
    }
    10% {
        transform: rotate(36deg) translateY(0);
    }
    100% {
        transform: translateY(200vh);
        opacity: 0;
    }
}











.show-mobile {
    display: none;
}

.show-mobile-flex {
    display: none;
}





@media (max-width: 768px) {
    html {
        font-size: 5.25%;
    }
    .show-mobile {
        display: block;
    }
    .show-mobile-flex {
        display: flex;
    }
    .hide-mobile {
        display: none;
    }
    .layout-side {
        flex:0;
        max-width: 100%;
    }
    .layout-nav {
        display: none;
    }
    .layout-header {
        margin-bottom: 1.5rem;
    }
    .hero {
        font-size: 12.5vw;
    }
    .menu-icon {
        opacity: 1;
    }
    /*h1 {*/
    /*    font-size: 2rem;*/
    /*}*/
    /*h2 {*/
    /*    font-size: 1.5rem;*/
    /*}*/
    /*h3 {*/
    /*    font-size: 1.25rem;*/
    /*}*/
    /*h4 {*/
    /*    font-size: 1rem;*/
    /*}*/
    .layout-container {
        flex-direction: column;
    }
}

