body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}

h1,h2,h3 {
    line-height: 1.2;
    font-family: 'cowboyregular',serif;
    text-transform: uppercase;
    font-weight: bold;
}
.banner {
    padding: 20px;
    border-radius: 10px;
    background: black;
    color: white;
    text-align: center;
    margin-bottom: 24px;
}
.banner h1{
    margin: 0;
}
.bg {
    background: lightgreen;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 10px 2px;
}
.button {
    background-color: lightgray;
    border: 1px solid black;
    padding: 5px 10px;
    text-decoration: none;
}
.typo {
    position: relative;
    display: inline-block;
    border-bottom: 3px dotted red;
    line-height: 1;
}
.typo:after {
    content: "That is spelled wrong.";
    position: absolute;
    top: -180%;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    width: 200px;
    background: red;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: none;
    font-size: 1.15rem;
}
.typo.typo--update-font:after {
    content: "🤠 Add © glyph to font.";
}
.typo:hover:after {
    display: block;
}
footer{
    font-size: 3rem;
    font-family: 'cowboyregular',serif;
    text-align: center;
}
@media (max-width: 600px) {
    .banner h1 {
        font-size: 2.5rem;
    }
    .sm-d-none {
        display: none;
    }
    h2 {
        font-size: 1.5rem;
    }
    footer{
        font-size: 1.5rem;
    }
}